{% extends "_layouts/master" %}

{% block layout %}

	<div class="container">
        {% include '_globals/masthead' %}
        {% include '_globals/navigation' %}
    </div> 

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>

    </div>

    {% include '_globals/footer' %}

{% endblock %}